*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'lcd';
    src: url('./Assets/font/digital-7-font/Digital7-1e1Z.ttf');
    
}

@font-face {
    font-family: 'lcd-italic';
    src: url('./Assets/font/digital-7-font/Digital7Italic-RBM3.ttf');
}

:root{
    --bg-color: #006d77;
    --primary-color: #ffddd2;
    --secondary-color: #e29578;
    --accent: #83c5be;
    --danger: red;
    --positive: yellowgreen;
}

html{
    background-color: var(--bg-color);
    line-height: 2rem;
}

body{
    min-height: 100vh;
    min-width: 100%;
    background: url("./Assets/Rect\ Light.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'lcd';
    letter-spacing: .5rem;
}

header{
    padding: 1rem;
    font-family: 'lcd-italic';
}

h1{
    font-size: clamp(.8rem, 8vw, 4rem);
}

main{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    background-color: var(--secondary-color);
    width: 500px;
    height: 700px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
}

.wrapper::before{
    content: attr(data-err);
    font-weight: bold;
    position: absolute;
    bottom: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    white-space: wrap;
    left: 50%;
    transform: translateX(-50%);
}

.display{
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding-right: .5rem;
    word-break: break-all;
}

.expression{
    text-align: end;
    height: 50%;
    line-height: 2rem;
    overflow: auto;
}

.buttons{
    margin: 2rem 0 1rem 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}

.button{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    cursor: pointer;
    user-select: none;
}

.all-clear{
    grid-column: 1/ 3;
}

.clear, .equal{
    grid-column: 3/ 5;
}

.button svg{
    width: 60px;
}

.button:hover{
    background-color: var(--accent);
    color: white;

}

.button:active{
    box-shadow: rgb(33, 35, 36) 3px 3px 6px 0px inset, rgba(24, 24, 24, 0.5) -3px -3px 6px 1px inset;
}

.all-clear:hover, .clear:hover, .all-clear:active, .clear:active{
    background-color: var(--danger);
}



.equal:hover, .equal:active{
    background-color: var(--positive);
}

.active{
    background-color: var(--accent);
    color: white;
    box-shadow: rgb(33, 35, 36) 3px 3px 6px 0px inset, rgba(24, 24, 24, 0.5) -3px -3px 6px 1px inset;
}

@media (max-width: 550px){
    .wrapper{
        width: 90%;
    }
}

@media (max-width: 360px){
    .wrapper{
        height: 500px;
    }
    .button{
        font-size: 1.2rem;
    }
}